.project
.settings
.pydevproject
**/__pycache__
vagrant/python/.vagrant
vagrant/python/ubuntu-bionic-18.04-cloudimg-console.log
vagrant/python/project
vagrant/jenkins/project
vagrant/jenkins/.vagrant
vagrant/jenkins/ubuntu-bionic-18.04-cloudimg-console.log
vagrant/nexus/.vagrant
vagrant/nexus/vagrant/
docker/webapp/src/temp
vagrant/nexus/project/
vagrant/nexus/ubuntu-bionic-18.04-cloudimg-console.log
