{% extends "template/page.html" %}
{% block title %} Liste des projets {% endblock %}

{% block content %}
<h3>Liste des projets</h3>
<br/>



<ol class="list-group list-group-numbered">

	{% 	for projet in listProjet %}
			  <li class="list-group-item d-flex justify-content-between align-items-start">
			    <div class="ms-2 me-auto">
			      <div class="fw-bold">{{projet[1]}}</div>
			      
			      <a href="{{projet[2]}}">{{projet[2]}}</a>
			    </div>
			   <!--  <span class="badge bg-primary rounded-pill">14</span> -->
			   <div class="btn-group" role="group" aria-label="Basic mixed styles example">
				  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">supprimer</button>
				  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#publishModal">Publier</button>
				</div>
			  </li>

	{%  endfor  %}
</ol>


<!-- Modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suppression du projet</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Voulez-vous supprimer le projet ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal publish-->
<div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Publication du projet</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Voulez-vous publier le projet ?
        <br/><br/>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Ajouter tables des matières
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-success show-toast">publier</button>
      </div>
    </div>
  </div>
</div>



  





{% endblock %}