<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<meta charset="utf-8">
	<title>{% block title %} {% endblock %}</title>
</head>
<body>


	<!-- HEADER -->
	<!-- BARRE DE NAVGATION -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	    <a class="navbar-brand" href="projects">GitHoster</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	        <a class="nav-link 	{% if current== 'list' %}  active {% endif %} " aria-current="page" href="projects">Liste des projets</a>
	        <a class="nav-link  {% if current== 'add' %}   active {% endif %} " href="addproject">Ajout projet</a>
	        <a class="nav-link  {% if current== 'param' %} active {% endif %} " href="parametrage-cloud">Paramétrage</a>
	      </div>
	    </div>
	    <button type="button" class="btn btn-danger">Déconnexion</button>
	  </div>
	</nav>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js">
		$(function() {
			var href = window.location.href;
			$('nav a').each(function(e,i) {
				if (href.indexOf($(this).attr('href')) >= 0) {
				$(this).addClass('active');
				}
			});
		});
	</script>

	<br/>

	<!-- CONTENUE DE NOS PAGE (voir list-projet.html pour comment appeler ce template) -->
	{% block content %}
	{% endblock %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- FOOTER -->

<footer class="bg-light text-center text-lg-start" id="footer" style="margin-top: 40px;">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Gestion des projets git</h5>
        <p>description description description description description description description description description description description description</p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Creation et hébergement des sites</h5>
        <p>description description description description description description description description description description description description</p>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://github.com/houssembenali/fil_rouge">GitHoster.fr</a>
  </div>
</footer>


<style type="text/css">
html {
      position: relative;
      min-height: 100%;
}

.footer {
         position: absolute;
         bottom: 0; 
         width: 100%;
         height: 40px; /* Set the fixed height of the footer here */
         line-height: 0.5; /* aligns type in footer-container */
         background-color: #f5f5f5;
}
</style>


<script>
$('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var name = button.data('name')
  var id = button.data('id')
  var modal = $(this)
  modal.find('.modal-title').text('Suppression du projet ' +name)
  modal.find('#name').val(name)
  modal.find('#id').val(id)
})
</script>

</body>
</html>